%div{class: 'row'}
  %div{class: 'col-xs-6'}
    = pie_chart(piechartdata, width: "80px", height: "175px"  )
  %div{class: 'col-xs-6'}
    %table{:class => "table table-condensed", title: "Nutrient Totals" }
      Nutrient Totals
      %thead
        %tr
          %th  Food
          %th  Amount
      %tbody
        %tr
          %td= "Calories"
          %td= daily_helper(Nutrients::ENERC_KCAL)
        %tr
          %td= "Protein"
          %td= daily_helper(Nutrients::PROCNT)
        %tr
          %td= "Carbs"
          %td= daily_helper(Nutrients::CHOCDF)
        %tr
          %td= "Fat"
          %td= daily_helper(Nutrients::FAT)
        %tr
          %td= "Fiber"
          %td= daily_helper(Nutrients::FIBTG)
