%tr
  %td= "Cholesterol: less than 300 mg"
  %td= goal_cholesterol
%tr
  %td= "Dietary Fat: < 30% of calories"
  %td= goal_dietaryfat
%tr
  %td= "Saturated Fat: < 10% of calories"
  %td= goal_satfat

%tr
  %td= "Trans Fat: 0% of calories"
  %td= goal_transfat
%tr
  %td= "Dietary Fiber: >= 15g"
  %td= goal_fiber
%tr
  %td= "Dietary Sodium: less than 2300mg"
  %td= goal_sodium

%tr
  %td= "At least 400 g (5 portions) of fruits and vegetables a day (2). Potatoes, sweet potatoes, cassava and other starchy roots are not classified as fruits or vegetables."
  %td= goal_fruit_and_veg
