= form_for ([@day, @food]),  {:html => {:class => "form-inline"}}  do |f|
  %div{:class => 'form-group'}
    = f.label :amount
    = f.text_field :amount, class: "form-control"
  %div{:class => 'form-group'}
    = f.label :measure
    = f.select :measure, "", {}, {class: "form-control"}
  %div{:class => 'form-group'}
    = f.hidden_field :ndbno
  %div{:class => 'form-group'}
    = f.submit  "Save", class: "form-control btn-primary"
