-# %form{:class => "form-inline"}

= form_for @food do |f|
  %div{:class => 'field form-group'}
    = f.label :amount
    = f.text_field :amount
  %div{:class => 'field form-group'}
    = f.label :measure
    = f.select :measure, ""

    = f.hidden_field :ndbno
  %div{:class => 'actions form-group'}
    = f.submit  "Save"



-# -# %div{:class =>'form-group'}
-#   %label{:for => 'quantity'}='Quantity'
-#   = text_field_tag 'quantity', "1", class: "form-control"
-# %div{:class => 'form-group'}
-#   = select_tag(:food_measure_id, class: "form-control")
-# %div{:class => 'form-group'}
-#   %button{type: "submit", class: "btn btn-default" }='Add'
