%div{:class =>'row'}
  %div{:class =>'col-sm-4'}
    = render :partial => "text_field_tag", locals: { nutrient: "Energy" }
  %div{:class =>'col-sm-4'}
    = render :partial => "text_field_tag", locals: { nutrient: "Water" }
  %div{:class =>'col-sm-4'}
    = render :partial => "text_field_tag", locals: { nutrient: "Fiber" }

    %div{:class =>'row'}
  %div{:class =>'col-sm-4'}
    = render :partial => "text_field_tag", locals: { nutrient: "Protein" }
  %div{:class =>'col-sm-4'}
    = render :partial => "text_field_tag", locals: { nutrient: "Carbs", display: "Carbohydrate" }
  %div{:class =>'col-sm-4'}
    = render :partial => "text_field_tag", locals: { nutrient: "Fat" }
