%table{:class => "table table-condensed" }
  %tbody
    %th=category
    - @food.nutrients_by_category(category).each do |n|
      %tr
        %td= "#{n['name']} "
        %td= "#{n['value']} #{n['unit']}"
