=link_to "Previous Day", previous_day_link


- if next_day_link.empty?
  =p "Next day"
- else
  =link_to "Next Day", next_day_link


%h4= display_the_date_helper

- if today?
  = link_to "Add Serving" , new_food_path


%table{:class => "table table-condensed" }
  %thead
    %tr
      %th  Food
      %th  Amount
      %th  Measure
      %th  Calories
  %tbody
    - @foods.each do |f|
      %tr
        %td
          - if next_day_link.empty?
            %li= link_to f.name, edit_food_path(f, f), title: "Edit entry for #{f.name}"
          - else
            %li= link_to f.name, food_path(f, f), title: "View entry for #{f.name}"
        %td= "#{f.amount}"
        %td= "#{f.measure}"
        %td= "#{formatit(f.calories)}"

%ul.nav.nav-tabs
  %li.active
    %a{"data-target" => "#summary", "data-toggle" => "tab", href: "#"} Summary
  %li
    %a{"data-target" => "#vitamins", "data-toggle" => "tab", href: "#"} Vitamins
  %li
    %a{"data-target" => "#minerals", "data-toggle" => "tab", href: "#"} Minerals
  %li
    %a{"data-target" => "#lipids", "data-toggle" => "tab", href: "#"} Lipids
  %li
    %a{"data-target" => "#amino_acids", "data-toggle" => "tab", href: "#"} Amino Acids
  %li
    %a{"data-target" => "#energy_density", "data-toggle" => "tab", href: "#"} Energy Density
  %li
    %a{"data-target" => "#diet_goals", "data-toggle" => "tab", href: "#"} Healthy Diet Goals

.tab-content
  #summary.tab-pane.fade.in.active
    =render :partial => "summary_tab_content"
  #vitamins.tab-pane.fade
    =render :partial => "tab_pane", locals: { category: "Vitamins" }
  #minerals.tab-pane.fade
    =render :partial => "tab_pane", locals: { category: "Minerals" }
  #lipids.tab-pane.fade
    =render :partial => "tab_pane", locals: { category: "Lipids" }
  #amino_acids.tab-pane.fade
    =render :partial => "tab_pane", locals: { category: "Amino Acids" }
  #diet_goals.tab-pane.fade
    =render :partial => "diet_goals"
  #energy_density.tab-pane.fade
    =render :partial => "energy_density_tab"
