= form_tag new_food_path, :method => :get do
  = text_field_tag "search", params[:search]
  = submit_tag "Submit"

  - if not @items.nil?
    = select_tag(:food_type_id, options_for_select(@items))

  - if not @measures.nil?
    = select_tag(:food_measure_id, options_for_select(@items))
