<!DOCTYPE html>
<html>
<head>
  <title><%= Rails.application.class.parent_name  %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%=  javascript_include_tag "https://www.google.com/jsapi", "chartkick"  %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <%= render "layouts/navbar" %>






    <% if current_user %>
        Logged in as <%= current_user.email %>.
        <%= link_to "Log out", logout_path %>
    <% else %>
        <%= link_to "Sign up", signup_path %> or
        <%= link_to "log in", login_path %>.
    <% end %>


        <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>



    <div id="main_content" class="container">
        <%= yield %>
    </div>
</body>
</html>
